extends ../layouts/commit
block content
		#page-wrapper
			.main-page
				.tables
					.panel-body.widget-shadow
						h1 Danh sách user
						br

						table.table.table-hove
							thead
								tr
									th Name
									th Avatar
									th Email
									th Phone
									th Status
									th Action
							tbody
							each user in users
								tr
									td
										p(text-align='center')= user.name
									td
										img.border.border-success.rounded-lg(src=user.avatar, width="64",height ="64")
									td
										i= user.email
									td
										span= user.phone
									td
										a.btn.btn-primary= user.status
									if (user.status == 'BLOCKED')
										td
											a.btn.btn-danger(href='/users/'+user._id+'/delete') OPEN
									else
										td
											a.btn.btn-danger(href='/users/'+user._id+'/delete') BLOCK
